@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";

$project-theme-colours: (
  "secondary-yellow": #DBCA16,
  "primary-blue-1": #1A54C2,
  "secondary-blue-1": #5098FF,
  "tertiary-blue-1": #00164F,
  "main-light-blue": #DDE2FF,
  "secondary-grey": #F3F4F9,
  "primary-grey": #F7F7F7,
  "dark-grey-2": #808080,
  "dark-grey": #4F5360,
  "dark-shade": #191919
);

$theme-colors: map-merge($theme-colors, $project-theme-colours);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
  font-family: "Inter", sans-serif;

  //* redeclaring project colours in form of variables for none-class use here.
  --secondary-yellow: #DBCA16;
  --primary-blue-1: #1A54C2;
  --secondary-blue-1: #5098FF;
  --main-light-blue: #DDE2FF;
  --primary-grey: #F7F7F7;
  --dark-grey: #4F5360;
  --dark-shade: #191919;
}

// my resets
p, h1, h2, h3, h4, h5, h6 {margin: 0;}

input, textarea, button, select {font: inherit;}

// end

//* my utility classes
.place-items-centre {
  justify-content: center;
  align-items: center;
}

.grid-item-centre {
  display: grid;
  place-items: center;
}

.width-max-content {
  width: max-content;
}

.cursor-pointer {cursor: pointer;}

.fs-7 {font-size: 0.875rem;}

.fs-8 {font-size: 0.75rem;}

.fs-9 {font-size: 0.625rem;}
//* end

// START
.side-bar {
  position: fixed;
  z-index: 99;
  top: 0;
  left: -250px;
  bottom: 0;
  width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: left 0.5s ease-in-out;

  @media (min-width: 1024px) {
    left: 0;
  }

  .bg-secondary-yellow > div {
    flex-grow: 1; //? note the use of this brutha...
  }

  .dashboard-sub-options {
    padding-left: 25%;
  }
  
  img {
    
    &:is([alt="arrow down"]) {
      margin-top: 30%;
    }
  
    &:is([alt="arrow right"]) {
      padding-left: 30%;
      transform: rotate(270deg);
    }
    
  }
}

.main { //? all these was to make it move while the side bar is fixed.
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;

  @media (min-width: 1024px) {
    margin-left: 250px;
  }
}

header {
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);

  .search-bar {
    flex-grow: 1; //? means as a flex-item, take width of 100%! would be using its bootstrap class equivalence now.
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  input {
    outline: none;
    border: none;
    
    &:where(:focus, :hover) {
      outline: none;
      border: none;
    }
  }

   .header-nav > div > div {
    cursor: pointer;
  }
}

main {
  overflow-x: hidden;
  
  .grid-container-1 {
    display: grid;
    grid-template-columns: repeat(3, 200px) 296px;
    grid-template-rows: repeat(7, 85.333px);

    > div {
      background-color: white;
      border-radius: 16px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .main-subjects {
      grid-row: span 3;
    }

    .calendar {
      grid-row: span 4;

      .calendar-header {
        font-family: "Rubik", sans-serif;
      }

      .calendar-time {
        grid-template-columns: repeat(3, 1fr);
      }

      .calendar-day {
        grid-template-columns: repeat(7, 1fr);
        font-family: "Lato", sans-serif;
      }
      
      .calendar-dates {
        grid-template-columns: repeat(7, 1fr);
        font-family: "Lato", sans-serif;
        
        > div:is(.bg-secondary-yellow) {
          border-radius: 50%;
        }
      }
    }

    .notice-board {
      grid-column: span 3;
      grid-row: span 4;
    }

    .calendar-activities {
      grid-row: span 3;
      font-family: "Rubik", sans-serif;
    }
  }

  .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__frames {
      grid-column: span 1;
      background-color: white;
      border-radius: 16px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 0.875rem;
      padding: 20px 0px 32px 0px;
      
      @media (min-width: 768px) {
        font-size: 1rem;
        padding: 30px 0px 48px 0px;
      }

      img {
        width: 75%;

        @media (min-width: 576px) {
          width: 100%;
        }
      }
    }
  }

  .grid-container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;

    .frames {
      background-color: white;
      border-radius: 16px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      .the-stats {
        color: #7B8194;

        .each-one > div {
          flex: 1;
        }
      }
    }
  }
}